@import 'variables';
@import 'base';


//navbar
nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;


    .logo {
        font-size: 45px;
        font-weight: 600;
        text-transform: uppercase;
        color: $secondary;
        letter-spacing: 1.5px;
    }

    .menu {
        width: 45%;
        .active {
            color: $golden;
        }
        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;

            li {
                list-style: none;

                a {
                    font-size: 20px;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: 1.5px;
                    color: $secondary;
                    text-decoration: none;
                }
            }
        }
    }
}

//section landing
.banner {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url(../images/Banner.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    .banner-clip-path {
        position: absolute;
        width: 90%;
        height: 100%;
        clip-path: polygon(0 0, 25% 0, 50% 100%, 0 100%);
        background-color: #000000;
        .img-logo{
            position: absolute;
            top: 20%;
            width: 40%;
        }

    }
    .banner-txt {
        width: 40%;
        position: absolute;
        top: 50%;
        left: 52%;
        text-transform: uppercase;
        font-size: 40px;
        font-weight: bold;
        color: $secondary;
        transform: translateY(-50%);

        button {
            width: 170px;
            height: 40px;
            background-color: $light;
            color: $primary;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            border-radius: 10px;
            border: none;
            
        }
    }
    
}
//section sponsor
.sponsor {
    h1 {
        text-align: center;
        font-weight: bold;
        letter-spacing: 2px;
        color: $primary;
        padding-bottom: 10px;

        &::after {
            content: '';
            background: $primary;
            display: block;
            height: 3px;
            width: 150px;
            margin: 16px auto;
            
        }
    }
    .total{
        background-color: $light;
        font-weight: bold;
        color: $primary;
    }
    .item {
        transition: .5s ease-in-out;
        margin-bottom: 100px;
        &:hover{
            filter: brightness(80%);
        }
    }
}

//section gallery
.gallery {
    h1 {
        text-align: center;
        font-weight: bold;
        letter-spacing: 2px;
        color: $primary;
        padding-bottom: 10px;

        &::after {
            content: '';
            background: $primary;
            display: block;
            height: 3px;
            width: 150px;
            margin: 16px auto;
            
        }
    }
    .card {
        margin-bottom: 30px;
        img {
            object-fit: cover;
            object-position: center top;
            width: 100%;
            height: 240px;

        }
    }
}



// section team
.team {
    h1 {
        text-align: center;
        font-weight: bold;
        letter-spacing: 2px;
        color: $primary;
        padding-bottom: 10px;

        &::after {
            content: '';
            background: $primary;
            display: block;
            height: 3px;
            width: 150px;
            margin: 16px auto;
            
        }
    }

    .profile {
        margin-top: 25px;

        .img-box {
            opacity: 1;
            display: block;
            position: relative;
            &::after{
                content: '';
                opacity: 0;
                background-color: rgba(0,0,0,0.6);
                position: absolute;
                right: 0;
                left: 0;
                top: 0;
                bottom: 0;
                transition: all 0.5s ease-in-out 0s;
            }
            ul {
                margin: 0;
                padding: 20px 0;
                position: absolute;
                z-index: 1;
                bottom: 0;
                display: block;
                left: 50%;
                transform: translateX(-50%);
                opacity: 0;
                transition: all 0.5s ease-in-out 0s;
                
                li {
                    width: 30px;
                    height: 30px;
                    border: 1px solid #fff;
                    border-radius: 50%;
                    margin: 3px;
                    padding: 7px;
                    display: inline-block;
                    transition: all 0.5s ease-in-out 0s;
                }
            }
            a {
                color: $secondary;
                &:hover {
                    li {
                        color: $golden;
                        border: 1px solid $golden;
                    }
                }
            }
            &:hover::after{
                opacity: 1;
            }
            &:hover{
                ul {
                    opacity: 1;
                }
            }
        }

        h2 {
            font-size: 22px;
            font-weight: bold;
            margin-top: 15px;
        }

        h3 {
            font-size: 15px;
            font-weight: bold;
            margin-top: 15px;
        }
    }
}

//section contact
.contact {
    h1 {
        text-align: center;
        font-weight: bold;
        letter-spacing: 2px;
        color: $primary;
        padding-bottom: 10px;

        &::after {
            content: '';
            background: $primary;
            display: block;
            height: 3px;
            width: 150px;
            margin: 16px auto;
            
        }
    }
}