nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;


    .nav-info {
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        // Responsive
        @media (max-width: 768px) {
            display: flex;
            padding-top: 0px;
        padding-bottom: 0px;
        }
    }


    .logo {
        a {
            color: hsl(0, 0%, 95%);
            font-size: 45px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 2.5px;
            // Responsive
            @media (max-width: 768px) {
                font-size: 30px;
                padding-left: 16px;
            }
        }
        // Responsive
        @media (max-width: 768px) {
            padding-top: 3px;
        }
    }
    .blank {
              // Responsive
              @media (max-width: 768px) {
               display: none;
            }
    }

    .menu {
        width: 45%;
        margin-top: auto;
         // Responsive
         @media (max-width: 768px) {
            font-size: 30px;
            margin-right: 62px;
        }
        .active {
            color: hsl(47, 55%, 70%);
            ;
        }

        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;

            li {
                list-style: none;
                 // Responsive
         @media (max-width: 768px) {
            margin-right: 20px;
        }
                a {
                    font-size: 20px;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: 1.5px;
                    color: hsl(0, 0%, 95%);
                    text-decoration: none;


                    &:hover {
                        color: hsl(47, 55%, 70%);
                        transition: all 0.5s ease-in-out 0s;
                    }

                    // Responsive
                    @media (max-width: 768px) {
                        font-size: 15px;
                    }
                }
            }
        }
    }




}