nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;

    @media (max-width: 768px) {
        background: hsl(0, 0%, 5%);
        
    }


    .nav-info {
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;

        // Responsive
        @media (max-width: 768px) {
            display: flex;
            padding-top: 0px;
            padding-bottom: 0px;
        }
    }


    .logo {
        a {
            color: hsl(0, 0%, 95%);
            font-size: 45px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 2.5px;

            // Responsive
            @media (max-width: 768px) {
                font-size: 30px;
                padding-left: 16px;
            }
        }

        // Responsive
        @media (max-width: 768px) {
            padding-top: 3px;
        }
    }

    .blank {

        // Responsive
        @media (max-width: 768px) {
            display: none;
        }
    }

    .checkbtn {
        font-size: 30px;
        color: white;
        float: right;
        line-height: 50px;
        margin-right: 10px;
        cursor: pointer;
        display: none;
        @media (max-width: 768px) {
            display: block;
            
        }
    }
    #check {
        display: none;
        
         // Responsive
         @media (max-width: 768px) {
            &:checked ~ .menu {
                display: block !important;
            }
        }
    }

    .menu {
        width: 45%;
        margin-top: auto;

        // Responsive
        @media (max-width: 768px) {
            font-size: 30px;
            margin-right: 62px;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            transition: all ease-in-out .5s ;
            display: none;
        }



        .active {
            color: hsl(47, 55%, 70%);
            ;
        }

        ul {
            display: flex;

            justify-content: space-between;

            @media (max-width: 768px) {
                display: flex;
                flex-direction: column;
                background-color: hsl(0,0%,5%);
                z-index: 9999;
            }

            li {
                list-style: none;

                // Responsive
                @media (max-width: 768px) {

                    width: 100%;
                    border-bottom: 1px solid hsl(46,57%,91%);
                    text-align: center;
                    padding-bottom: 10px;
                    &:first-child {
                        border-top: 1px solid hsl(46,57%,91%);
                    }
                    &:last-child {
                        border-bottom: none;
                    }
                }

                a {
                    font-size: 20px;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: 1.5px;
                    color: hsl(0, 0%, 95%);
                    text-decoration: none;


                    &:hover {
                        color: hsl(47, 55%, 70%);
                        transition: all 0.5s ease-in-out 0s;
                    }

                    // Responsive
                    @media (max-width: 768px) {
                        font-size: 15px;
                    }
                }
            }
        }
    }




}